/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply h-full w-full bg-black;
  }
} */

html {
  background: black !important;
}

.backgroundImage {
  background-image: url('./assets/phone-banner.jpg') !important;
  background: rgba(0, 0, 0, 0.178) !important;
}

